<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOyMPc609qYpzFddAV_0rLMIXyrP5V-Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>671558879227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mwf07b.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mwf07b</string>
	<key>STORAGE_BUCKET</key>
	<string>mwf07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671558879227:ios:f9d3a56d085fa6c990ad5e</string>
</dict>
</plist>